color-theme = #39f;
color-blue = #39f;
color-green = #3f9;
color-red = #f39;
color-white = #fff;
color-black = #000;
color-light-gray = #f4f4f5;
color-border = #e4e4e7;
color-translucent = rgba(0, 0, 0, 0.5);
time-change = 0.3s;
font-theme = sans-serif;
z-index-off = -1;
z-index-page = 20;
z-index-help = 100;
z-index-show = 144;
z-index-toast = 114514;
font-size-normal = 16px;
font-size-small = 12px;
font-size-larger = 18px;
font-size-big = 20px;
width-base = 40px;
width-parent-all = 100%;
height-base = 40px;
padding-base = 20px;
margin-base = 20px;